.hero-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-banner-left,
.hero-banner-right {
  width: 100%;
}

.hero-banner-right {
  position: relative;
}

.hero-image {
  border-radius: 0.5rem; /* rounded-lg */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.app-exclusive-tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #facc15; /* yellow-400 */
  color: #003399; /* blue-900 */
  padding: 0.25rem 0.75rem;
  border-radius: 9999px; /* rounded-full */
  font-size: 0.875rem; /* text-sm */
  font-weight: 700; /* font-bold */
  display: flex;
  align-items: center;
}

.app-exclusive-tag .pi {
  margin-right: 0.25rem;
}

/* Medium screens and up */
@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
  }
  .hero-banner-left {
    width: 25%;
  }
  .hero-banner-right {
    width: 75%;
  }
}