/* Additional styles for CartPage if needed */
.cart-item:hover {
  background-color: #f9fafb;
}

.cart-item:last-child {
  border-bottom: none;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input[type=number] {
  -moz-appearance: textfield;
}
