:root {
  font-family: sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #1f2937; /* default text color */
}